.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #3b414d;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #525c66;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.ImageCropper {
  display: flex;
  flex-direction: column;
}

button {
  width: 50%;
  align-self: center;
  height: 40px;
  margin: 20px;
  font-size: 28px;
  background-color: #61dafb;
  border: 0;
  border-radius: 5px;
}

a {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
